-- 既存のテーブルを削除（もしあれば）
DROP TABLE IF EXISTS plan_places CASCADE;
DROP TABLE IF EXISTS plans CASCADE;
DROP TABLE IF EXISTS places CASCADE;

-- placesテーブルの作成（行きたい場所を保存）
CREATE TABLE places (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  name TEXT NOT NULL,
  category TEXT NOT NULL CHECK (category IN ('ご飯', 'カフェ', 'おでかけ(外)', 'おでかけ(室内)', '旅行')),
  address TEXT,
  memo TEXT,
  photo_url TEXT,
  station TEXT,
  district TEXT,
  latitude DECIMAL,
  longitude DECIMAL,
  visited BOOLEAN DEFAULT false,
  visited_date DATE,
  season TEXT CHECK (season IN ('春', '夏', '秋', '冬', '通年')),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- plansテーブルの作成（デートプランを保存）
CREATE TABLE plans (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  title TEXT NOT NULL,
  date DATE,
  notes TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- plan_placesテーブル（プランと場所の中間テーブル）
CREATE TABLE plan_places (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  plan_id UUID REFERENCES plans(id) ON DELETE CASCADE,
  place_id UUID REFERENCES places(id) ON DELETE CASCADE,
  order_index INTEGER NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- インデックスの作成（検索パフォーマンス向上）
CREATE INDEX idx_places_category ON places(category);
CREATE INDEX idx_places_visited ON places(visited);
CREATE INDEX idx_places_station ON places(station);
CREATE INDEX idx_places_season ON places(season);
CREATE INDEX idx_plan_places_plan_id ON plan_places(plan_id);

-- RLS (Row Level Security) の有効化
ALTER TABLE places ENABLE ROW LEVEL SECURITY;
ALTER TABLE plans ENABLE ROW LEVEL SECURITY;
ALTER TABLE plan_places ENABLE ROW LEVEL SECURITY;

-- 全ユーザーがアクセスできるポリシー（2人で共有するため）
CREATE POLICY places_policy ON places FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY plans_policy ON plans FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY plan_places_policy ON plan_places FOR ALL USING (true) WITH CHECK (true);
